// ------------ FIRST SECTION

// ------------ MAIN container
.ctn-headline-main{
    padding: 70px 10%;
    border-bottom: $color3 1px solid;
    background-color: $color1;
    p{
        text-align: center;
    }
    
    //  ------------- DATE container
    .ctn-headline-date{
        margin-bottom: 70px;
        p{
            position: relative;
            @include center;

        &:before, &:after{
            content: '';
            height: 1px;
            width: 35%;
            background-color: $color3;
            position: absolute;
            @media screen and (max-width : 900px) {
                width: 25%;
            }
        }
        &:before{
            left: 0;
        }
        &::after{
            right: 0;
        }
    }
}
// -------------------- CONTAINER section
    .ctn-headline{
        .ctn-text-headline{
            margin: 0 auto;
            width: 60%;
            min-width: 300px;
            h2{
                font-size: 2.5em;
                @media screen and (max-width : 750px) {
                    font-size: 1.8em;
                }
            }
            p{
                margin: 40px 0 60px;
            }
        }
        #headline-img{
            height: 600px;
            background: url("../assets/img/headline.jpg") center / cover;
            @media screen and (max-width : 1000px) {
                height: 300px;
            }
        }
        a{
            margin-top: 60px;
        }
    }
}

// ------------ SECOND SECTION

.ctn-destination-main{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
    background-color: $color1;
    @media screen and (max-width : 950px) {
        grid-template-columns: 100%;
    }
    .destination{
        @include center;
        flex-direction: column;
        padding:  70px;
        position: relative;
        &:first-child:after{
            content: '';
            width: 1px;
            height: 100%;
            background-color: $color3;
            position: absolute;
            right: 0;
            @media screen and (max-width : 950px) {
                display: none;
            }
    }
    .story-date, h3{
        text-align: center;
    }
    h3{
        font-size: 1.2em;
        line-height: 35px;
    }
    h3, .story-info{
        margin: 30px 0;
    }
    img{
        width:100%
    }
    }
}